:root {
    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);

    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 75%);

    --input-bg: hsl(0, 0%, 20%);
    --brand-color: hsl(187, 74%, 33%);
    --brand-color-hover: hsl(187, 74%, 43%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    font-family: sans-serif;
}

button {
    background-color: transparent;
    border: none;
    color: transparent;
}

input {
    background: var(--input-bg);
    color: var(--text);
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-muted);
    border-radius: 4px;
}

input::placeholder {
    color: var(--text-muted);
}


.container {
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem;
}

.card {
    align-self: start;
    padding: 2rem;
    background-color: var(--bg);
    color: var(--text);
}

.card-title {
    margin-bottom: 1rem;
    border-left: 4px solid var(--brand-color-hover);
    padding-left: 1rem;
}

.card-text {
    margin-top: 1rem;
}

.tooltips {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}



.table-box {
    grid-column: span 3;
}

.light-bg {
    background-color: var(--bg-light);
}

.demonstration-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.text-input-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn {
    border: 1px solid var(--text-muted);
    border-radius: 4px;
    padding: 0.7rem 1.5rem;
    color: var(--text);
}

.btn--primary {
    background-color: var(--brand-color);
}

.btn--secondary {
    background-color: transparent;
}

.btn--disabled {
    color: var(--text-muted);
    cursor: not-allowed
}

.btn--primary:hover {
    background-color: var(--brand-color-hover);
}

.btn--secondary:hover {
    scale: 1.1;
}

.label-element-presentation {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--brand-color);
}

.label-element-presentation span {
    display: inline-block;
    padding-top: 0.3rem;
    color: var(--text-muted);
}

.link {
    color: var(--brand-color);
}

.link:hover {
    color: var(--brand-color-hover);
}

.link:active {
    color: var(--brand-color);
}

.link:visited {
    color: var(--brand-color);
}

/* TABS */
.widget {
    max-width: 20rem;
    padding: 1rem;
    margin: 1rem auto 1rem;
    border-radius: 1rem;
    background-color: var(--bg-light);
    color: var(--text);
}

.tabs {
    --tab-count: 3;
    --active: 0;

    position: relative;
    isolation: isolate;
    display: flex;
    height: 3.5rem;
    border-block-end: 1px solid var(--text-muted);
}

.tabs input {
    display: none;
}

.tabs label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.tabs input:checked+label {
    color: var(--bg-dark);
}

.tabs::after {
    pointer-events: none;
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0 0 -1px;
    width: calc((100% / var(--tab-count)) - 2px);
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--text-muted);
    border-block-end: none;
    background-image: linear-gradient(var(--text-muted), #fff);

    translate: calc(var(--active) * 100%);
    transition: translate 0.5s ease-in-out;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
}

.tab-content {
    padding: 1rem;
}

[class^="tab-content-"] {
    display: none;
}

.widget:has(:checked:nth-of-type(1)) .tab-content-1,
.widget:has(:checked:nth-of-type(2)) .tab-content-2,
.widget:has(:checked:nth-of-type(3)) .tab-content-3 {
    display: block;
}

.img-container {
    width: 50%;
    position: relative;
}

.img-container img {
    width: 100%;
    border-radius: 8px;
}

.img-container:hover:before,
.img-container:hover:after {
    position: absolute;
    min-width: 10rem;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -105%);
    transition: all 0.5s ease;
}


.img-container:hover::before {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 8px;
    border: 4px solid var(--brand-color);
    text-align: center;
    content: attr(data-tooltip);
    transition: all 0.5s ease;
}

.nav-list {
    gap: 0.7rem;
}

ol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem 0;
    list-style: none;
}

.menu-item {
    background: var(--bg-light);
    padding: 1em 0.5em;
    font-size: small;
    position: relative;
    border-bottom: 5px solid var(--brand-color);
    margin: 0 0.1em;
    transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
}

.menu-item:hover,
.menu-item:focus-within {
    border-bottom-color: var(--brand-color-hover);
    background: var(--bg);
}

.menu-item:hover .sub-menu,
.menu-item:focus-within .sub-menu,
.menu-item:hover .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.sub-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    margin-top: 1rem;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.sub-menu .menu-item {
    margin: 0.1rem 0;
    padding: 0.5rem;
    min-width: 8rem;
    text-align: center;
    z-index: 2;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item a:focus {
    outline: none;
}


.content-table {
    border-collapse: collapse;
    margin: 1.56rem 0;
    min-width: 25rem;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px var(--brand-color)
}

.content-table thead tr {
    background-color: var(--brand-color);
    text-align: left;
    font-weight: bold;

}

.content-table th,
.content-table td {
    padding: 1rem 1.2rem;
}

.content-table tbody tr {
    border-bottom: 1px solid var(--text-muted);
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: var(--bg-light);
}

.content-table tbody tr:last-child {
    border-bottom: 2px solid var(--brand-color);
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .table-box {
        grid-column: span 2;
    }

}


@media screen and (max-width: 776px) {
    .container {
        grid-template-columns: 1fr;
    }

    .table-box {
        grid-column: span 1;
    }

}